<?xml version="1.0" encoding="UTF-8"?>
<root>
   <templatePath>/Project2_Resources/xml_logs</templatePath>
   <onlineRecognizerTemplatePath>/Project2_Resources/online_template</onlineRecognizerTemplatePath>
   <storeTemplatePath>/templateData</storeTemplatePath>
   <gestureSet>gestureSetP2</gestureSet>
   <gestureSetP1Size>16</gestureSetP1Size>
   <gestureSetP1>
      <gesture>
         <name>arrow</name>
         <value>0</value>
      </gesture>
      <gesture>
         <name>caret</name>
         <value>1</value>
      </gesture>
      <gesture>
         <name>check</name>
         <value>2</value>
      </gesture>
      <gesture>
         <name>circle</name>
         <value>3</value>
      </gesture>
      <gesture>
         <name>delete_mark</name>
         <value>4</value>
      </gesture>
      <gesture>
         <name>delete</name>
         <value>4</value>
      </gesture>
      <gesture>
         <name>left_curly_brace</name>
         <value>5</value>
      </gesture>
      <gesture>
         <name>left_sq_bracket</name>
         <value>6</value>
      </gesture>
      <gesture>
         <name>left_square_bracket</name>
         <value>6</value>
      </gesture>
      <gesture>
         <name>pigtail</name>
         <value>7</value>
      </gesture>
      <gesture>
         <name>question_mark</name>
         <value>8</value>
      </gesture>
      <gesture>
         <name>zig-zag</name>
         <value>8</value>
      </gesture>
      <gesture>
         <name>rectangle</name>
         <value>9</value>
      </gesture>
      <gesture>
         <name>right_curly_brace</name>
         <value>10</value>
      </gesture>
      <gesture>
         <name>right_sq_bracket</name>
         <value>11</value>
      </gesture>
      <gesture>
         <name>right_square_bracket</name>
         <value>11</value>
      </gesture>
      <gesture>
         <name>star</name>
         <value>12</value>
      </gesture>
      <gesture>
         <name>triangle</name>
         <value>13</value>
      </gesture>
      <gesture>
         <name>v</name>
         <value>14</value>
      </gesture>
      <gesture>
         <name>x</name>
         <value>15</value>
      </gesture>
   </gestureSetP1>
   <gestureSetP2Size>10</gestureSetP2Size>
   <gestureSetP2>
      <gesture>
         <name>upper_A</name>
         <value>0</value>
      </gesture>
      <gesture>
         <name>upper_E</name>
         <value>1</value>
      </gesture>
      <gesture>
         <name>upper_I</name>
         <value>2</value>
      </gesture>
      <gesture>
         <name>upper_O</name>
         <value>3</value>
      </gesture>
      <gesture>
         <name>upper_U</name>
         <value>4</value>
      </gesture>
      <gesture>
         <name>lower_a</name>
         <value>5</value>
      </gesture>
      <gesture>
         <name>lower_e</name>
         <value>6</value>
      </gesture>
      <gesture>
         <name>lower_i</name>
         <value>7</value>
      </gesture>
      <gesture>
         <name>lower_o</name>
         <value>8</value>
      </gesture>
      <gesture>
         <name>lower_u</name>
         <value>9</value>
      </gesture>
   </gestureSetP2>
</root>



